PORT=3214
NODE_ENV=development

COOKIE_SECURE=false
COOKIE_SAMESITE=lax
REFRESH_COOKIE_NAME=pm_refresh

SMTP_HOST=smtp.mail.com
SMTP_PORT=587
SMTP_USER=mail@mail.com
SMTP_PASS=
SMTP_FROM="Project Mgmt <mail@gmail.com>"

SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=password
SEED_ADMIN_NAME=Admin

# ----------------------for local only------------------------------
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/project_mgmt?schema=public"
JWT_ACCESS_SECRET=dev_access_secret_please_change_123
JWT_REFRESH_SECRET=dev_refresh_secret_please_change_123
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
APP_URL=http://localhost:5173