PORT=
NODE_ENV=

COOKIE_SECURE=
COOKIE_SAMESITE=
REFRESH_COOKIE_NAME=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
SEED_ADMIN_NAME=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

DB_EXTERNAL_PORT=
APP_EXTERNAL_PORT=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

DATABASE_URL=

APP_URL=
