PORT=4000
NODE_ENV=development

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/db_name

JWT_ACCESS_SECRET=change-me-change-me-change-me
JWT_REFRESH_SECRET=change-me-change-me-change-me
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

COOKIE_SECURE=false
COOKIE_SAMESITE=lax

APP_URL=http://localhost:3000
